body {
    background-color: rgb(255, 196, 0);
}

/* qe tash qitu me display flex i kom ba e jo me inline css se ashtu ma keq doket edhe ma shtir se per secilen vet duhet */
#navbari {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    font-weight: bold;
}

.nav-item {
    margin: 0 20px;
}

.icon {
    display: flex;
    align-items: center;
}

.logo {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.TP {
    margin: 120px auto;
    max-width: 800px;
    text-align: center;
}

.foto {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
}

.foto img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

/* nese skupton najsen veq shkrum edhe ta shpjegoj */
