body{
    background-color: rgb(255, 196, 0);
}
#navbari{
   margin-top: 40px;
   margin-right: 40px;
display: flex;
font-weight: bold;
margin-left: 150px;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    top: 50px;
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
    display: flex;
    margin-left: 500px;
}
.foto{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 450px;
    position: relative;
    right: 150%;
    white-space: nowrap ;
}
.foto img {
    width: 100%;
    height: auto;
 
}
.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  text-align: start;
  
}
.TP{
    margin-top: 120px;
    position: relative;right: 87%; 
    white-space: nowrap;
}


